select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

input[type="file"] {
    line-height: 20px;
}

legend {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.nav-checkbox {
    float: none;
    padding: 5px 15px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 0;
    font-size: 15px;
}

.nav-checkbox .glyphicon{
    top: 2px;
}

#map {
    position: relative;
}

#wrap-map {
    position: absolute;
    right: 0;
    left: 284px;
    top: 51px;
    bottom: 0;
    overflow: auto;
    border-left: 1px solid #999;
    background: #fff;
    z-index: 2;
}

.body {
    z-index: 1;
    position: relative;
}

.body:hover {
    opacity: .8;
    cursor: pointer;
    outline: 3px solid rgba(255, 255, 255, .5);
    margin: 0;
}
.body.selected {
    opacity: .7;
    outline: 3px solid red;
    margin: 0;
    z-index: 2;
}

.collide {
    position: relative;
}

#map > div {
    position: absolute;
    top: 0;
    left: 0;
}

#map .collide {
    display: none;
}

#map .grid {
    position: relative;
    z-index: 999;
}

.disable-mouse {
    pointer-events: none;
}

#map .grid-show .tile {
    box-shadow: -1px -1px 0 rgba(74, 255, 255, .6);
}

#map .layer {
    position: relative;
}

#panel {
    position: absolute;
    left: 0;
    width: 284px;
    top: 102px;
    bottom: 0;
    overflow-y: auto;
    padding: 10px;
    background: #FFF;
    z-index: 3;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#panel .collide:hover {
    outline: 3px solid rgba(255, 255, 255, .5);
    opacity: .8;
}

#panel-collision .collide {
    float: left;
    margin: 1px;
    cursor: pointer;
    background: rgba(0, 0, 0, .5);
}

#panel-collision .collide[data-plataform="true"] {
    background: rgba(0, 153, 255, 0.5);
}

#panel > [id^="panel-"]{
    display: none;
}

#panel-top {
    width: 283px;
    right: auto;
    top: 51px;
    z-index: 1;
}

.panel-collision #map .collide {
    display: block;
}

.ui-effects-transfer {
    border: 1px solid #999;
    background: rgba(0,0,0,.2);
    z-index: 9999;
}
