select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

input[type="file"] {
    line-height: 20px;
}

legend {
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.disable-mouse {
    pointer-events: none;
}

.nav-checkbox {
    float: none;
    padding: 5px 15px;
    color: #777;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    margin-bottom: 0;
    font-size: 15px;

    .glyphicon{
        top: 2px;
    }
}

.tile {
    &:hover {

    }
}

#wrap-map {
    position: absolute;
    right: 0;
    left: 284px;
    top: 51px;
    bottom: 0;
    overflow: auto;
    border-left: 1px solid #999;
    background: #FFF; /*#444*/
    z-index: 2;

    #map {
        position: relative;

        > div {
            position: absolute;
            top: 0;
            left: 0;
        }

        .grid {
            z-index: 9999;

            &.show .tile {
                box-shadow: -1px -1px 0 rgba(74, 255, 255, .6);

                &.hover {
                    opacity: .8;
                }
            }
        }

        .hit {
            z-index: 9998;
        }
    }
}

#panel {
    position: absolute;
    left: 0;
    width: 284px;
    top: 51px;
    bottom: 0;
    background: #FFF;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .panel-top {
        position: relative;
        width: 100%;
        z-index: 1;
        margin: 0;
    }

    .panel-content {
        width: 100%;
        position: absolute;
        overflow-y: auto;
        bottom: 0;
        top: 51px;

        fieldset {
            padding: 8px 10px;
        }

        #panel-tiles {
            outline: 3px solid rgba(255, 255, 255, .5);
            opacity: .8;

            .form-group {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
            }

            .div-layers {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 70%;
                overflow-y: auto;
                border-bottom: 1px solid #999;

                #list-layers {
                    padding: 0;
                    margin: 0;
                    list-style-type: none;

                    li {
                        position: relative;
                        border-bottom: 1px solid #CCC;
                        background-color: #FFF;

                        &:first-child {
                            border-top: 1px solid #CCC;
                        }

                        &.active {
                            label {
                                background-color: #e7e7e7;
                            }
                        }

                        label {
                            display: block;
                            padding: 10px;
                            margin: 0;

                            input {
                                position: relative;
                                top: 2px;
                                margin: 0 5px 0 0;
                            }
                        }

                        a {
                            position: absolute;
                            top: 14px;
                            right: 15px;
                            color: #333;
                            font-size: 16px;

                            &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            .div-tiles {
                position: absolute;
                top: 30%;
                bottom: 0;
                left: 0;
                right: 0;
                overflow-y: auto;

                .tiles {
                    padding: 10px;

                    .tile {
                        z-index: 1;
                        position: relative;
                        float: left;
                        margin: 1px;

                        &:hover {
                            opacity: .8;
                            cursor: pointer;
                        }

                        &.selected {
                            opacity: .9;
                            outline: 2px solid red;
                            z-index: 2;
                        }
                    }
                }
            }
        }

        #panel-collisions .collide {
            float: left;
            margin: 1px;
            cursor: pointer;
            background: rgba(255, 0, 0, .5);

            &[data-plataform="true"] {
                background: rgba(255, 150, 0, 0.5);
            }
        }
    }
}


.form-group {
    label {
        font-size: 10px;
        position: relative;
        margin: 0;
        left: 13px;
        top: 5px;
    }

    .form-control {
        margin-top: -20px;
        padding-top: 25px;
        height: auto;
    }

    select.form-control {
        padding-left: 8px;
    }
}
